.add-button{
    display: flex; /* Căn icon và chữ trên cùng một dòng */
    align-items: center; /* Căn giữa icon và chữ theo chiều dọc */
    justify-content: flex-start; /* Căn nội dung về bên trái */
    gap: 15px; /* Tạo khoảng cách giữa icon và chữ */
    width: 140px;
    height: 45px;
    padding: 10px;
    background: #ed5909;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    position:absolute;
    top: 3%;
    right:2%;
    font-size: 15px;
    border: none;
}
.notice-button{
    width: 45px;
    height: 45px;
    padding: 10px;
    background: #ed5909;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    position:absolute;
    top: 3%;
    right:12%;
    font-size: 20px;
    border: none;
}
.h2-home {
    color: white ;
    font-weight: 600;
    font-size: 30px;
    position:absolute;
    top:20px;
    left: 300px;
    color: #ff9933;
    margin: auto;
}

.badge {
    background-color: #3a3a3a; /* Màu nền */
    color: white;
    padding: 5px 10px;
    border-radius: 15px; /* Bo tròn góc */
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px 0px  0px 10px; /* Tạo khoảng cách nếu cần */
    width:60px;
}
.real-map {
    position:absolute;
    top: 8%;
    bottom: 2%;
    right:10px;
    background-color: #1E2A38;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}
.real-map h3 {
  margin-bottom: 20px;
  color: #ff7411;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.real-map p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  width: 100%;
}

.status-summary{
    margin-left: 0;
}

.label {
  font-weight: bold;
  color: white;
}

.value {
  color: white;
}


.status-summary {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  color: white;
  line-height: 1.8;
}
.status-summary p {
  margin: 0.5rem 0;
}
.status-summary{
    margin-top:10px;
    margin-bottom: 10px;
}

.offline-list{
    margin-top:10px;
    margin-bottom: 10px;
}

.offline-list ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.offline-list li {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: white;
  margin-top: 5px;
}

.error-banner{
    position: absolute;
    font-size: 30px;
    color: white ;
    bottom: 2%;
    right:28%;
    background-color:#1E2A38 ;
    padding:10px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

.error-banner h3{
    margin:0px;
    font-size: 20px;
    color: #FF6A00;
}
.error-banner span{
    margin-right:10px;
    font-size: 20px;
}
.perform{
    position: absolute;
    font-size: 30px;
    color: white ;
    bottom: 2%;
    left: 24%;
    background-color:#1E2A38 ;
    padding:10px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}
.perform h3{
    margin:0px;
    font-size: 20px;
    color: #FF6A00;
}

.chart-home {
    width: 750px;  
    height: 430px; 
    padding: 20px;
    border-radius: 10px;
    margin:auto;
    margin-bottom: 10px;
    left: 10px;
    position: absolute;
    left:22%;
    bottom: 25%;
    background-color: #1E2A38;
}

.search {
    position: absolute;
    width: 250px;
    margin: 0px;
    top: 1.2%;
    right: 20%;
}

.search input {
    width: 80%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #eae6e4;
    border-radius: 5px;
    height: 20px;
    background-color: #3a3a3a;
    margin-top: 5%;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    color: #888;
}

.slider-container {
    position: absolute;
    bottom: 20%;
    left: 22%;
    margin-top: 10px;
    width: 780px;
    text-align: center;
}
  
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 720px;
  height: 10px;
  background: #2A3B4D;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Chrome */
.slider::-webkit-slider-runnable-track {
  height: 10px;
  background: transparent;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #FF6A00;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -5px;
  position: relative;
  z-index: 2;
}


.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #FF6A00;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}


  
.plate-select-dropdown{
    border-radius: 8px;
    border: 2px solid #FF6A00;
    background-color: #1c1c1c;
    color: white;
    height: 35px;
    width: 150px;
    align-items: center;
    font-weight: 600;
}

.plate-select-container{
    position: absolute;
    right: 28%;
    top: 13%;
    z-index: 10;
    margin:0;
}


