
div {
    margin: 20px;
}
.infor{
    padding-left: 150px;
    margin:0;
    max-height: calc(100vh - 50px); /* chiều cao tối đa của khối nội dung */
    overflow-y: auto; /* thêm thanh cuộn dọc nếu nội dung dài */
}
/* Style the table */
table {
    width: 100%;
    /*border-collapse: collapse;*/
    margin: 10px 0;
    border-radius: 15px;
    overflow: hidden;
}

/* Style the table headers */
th {
    background-color: #ed5909;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
}

/* Style for table data */
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Hover effect for table rows */

tr {
    height: 42px;
}


.details-row td {
    background-color: #ddd; /* Nền xám */
    padding: 10px;
    border-radius: 8px;
    color: #333; /* Chữ màu đen để dễ nhìn */
}

.details-row div {
    display: flex;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}

.details-row strong {
    min-width: 150px;
    text-align: left;
    font-weight: bold;
    color: #222; /* Đậm hơn để dễ đọc */
}

.details-row span {
    flex-grow: 1;
    text-align: left;
    color: #333; /* Chữ đậm hơn */
}
.infor button{
    background-color: #ed5909;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}

tbody{
    background-color:#ddd;
}

/* Khoảng cách giữa các input trong phần sửa */
.details-row input,
.details-row select {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

/* Style nút Lưu / Hủy */
.details-row button {
    margin-right: 8px;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.details-row .deletebutton {
    background: #dc3545;
}

.details-row .fixbutton{
    background-color: #dde811;
}

.details-row .archivebutton{
    background-color: #007bff;
}

.details-row button:hover{
    background-color:  #ed5909;
}

/* Tăng khoảng cách giữa các dòng input */
.details-row div {
    margin-bottom: 10px;
}

.details-row .canclebutton{
    background-color:  #dc3545;;
}

.details-row .savebutton{
    background-color: #007bff;
}

/* Nút chi tiết, ẩn*/
.morebutton{
    cursor: pointer;
    width: 90px;
    height: 30px;
}


